<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dados do Cargo</h5>
          <form>
            <div class="mb-3">
              <label class="form-label">Nome do Cargo</label>
              <input type="text" readonly class="form-control" [(ngModel)]="cargo.ca_nome" name="ca_nome">
            </div>
            <div class="mb-3">
              <label class="form-label">Descrição do Cargo</label>
              <input type="text"readonly class="form-control" [(ngModel)]="cargo.car_atribuicao" name="car_atribuicao">
            </div>
            <button routerLink="/cargo" class="btn btn-secondary mx-3">Cancelar</button>
          </form>


        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <h5 class="card-title mx-3">Mentor do Cargo: {{mentor.id_mentor}}</h5>
        <div class="card-body">

          <div class="mb-3">
            <label class="form-label">Nome do Mentor</label>
            <input type="text" readonly class="form-control" [(ngModel)]="mentor.mentor_nome" name="mentor_nome">
          </div>
          <div class="mb-3">
            <label class="form-label">Cargo do Mentor</label>
            <input type="text"readonly class="form-control" [(ngModel)]="mentor.mentor_cargo" name="mentor_cargo">
          </div>
          <hr>
          <div class="card">
          <h5 class="card-title my-4"> Escolha um novo mentor para o cargo:</h5>


          <div class="card-body">
          <select [(ngModel)]="mentoresSemCargoEscolhido" name="mentoresSemCargoEscolhido" (ngModelChange)="mostrarMentor()" >
              <option *ngFor="let mentor of mentoresSemCargo" [ngValue]="mentor">
                {{mentor.mentor_nome}} - {{mentor.mentor_cargo}}
              </option>
            </select>
            <button (click)="atribuirMentor()" class="btn btn-primary mx-3">Salvar</button>
          </div>
        </div>
          <hr>
          <div class="card my-3">
            <h5 class="card-title">Deixar Cargo sem Mentor?</h5>
            <div class="card-body">
            <button (click)=" deixarCargoSemMentor()" class="btn btn-secondary">Confirmar</button>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
