<div class="registration-form">
  <form>
      <div class="form-icon">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg></span>
    </div>
    <h3 class="text-center my-3"> Alteração de um Mentor</h3>

    <div class="mb-3">
      <label class="form-label">Nome do mentor</label>
      <input type="text" class="form-control" [(ngModel)]="mentor.mentor_nome" name="mentor_nome"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Cargo do Mentor</label>
      <input type="text" class="form-control" [(ngModel)]="mentor.mentor_cargo" name="mentor_cargo"/>
    </div>
       <div class="mb-3">
      <label class="form-label">Foto do Mentor</label>
      <input type="file" (change)="subirFoto($event)" class="form-control" >
    </div>
           <button   (click)="editarMentor()" class="btn btn-light" style="background-color:#4A276F; color: white">Editar</button>
      <button (click)="cancelarEdicao()" class="btn btn-secondary mx-3">Cancelar</button>
    </form>

