<main>
  <div class="container">
    <div class="row mt-3 d-flex d-flex d-flex justify-content-around">
      <div class="col-md-4 mt-4 ">
          <img class="img" src="assets/img/a.svg">
      </div>
<!-- Formulário de Login -->
      <div class="col-md-4 mt-4 d-flex  .bg-secondary" id="contato">
        <div class="container">

          <form class="px-4 py-3">
            <div class="mb-3">
              <h3>Login</h3>
              <br>
               <label class="form-label">E-mail:</label>
              <input type="email" class="form-control" required placeholder="email@email.com">
            </div>
            <div class="mb-3">
              <label class="form-label">Senha:</label>
              <input type="password" class="form-control" required placeholder="Senha">
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input type="checkbox" required class="form-check-input">
                <label><a href="#">Aceitar os termos de uso</a></label>

              </div>
            </div>
            <button type="submit" class="btn btn-secondary" routerLink="/cargo">Entrar</button>

            <div id="redes" class="d-flex justify-content-center">
              <a href="https://play.google.com/store/?utm_source=latam_Med&utm_medium=hasem&utm_content=Jul1520&utm_campaign=Evergreen&pcampaignid=MKT-FDR-latam-br-1002290-Med-hasem-py-Evergreen-Jul1520-Text_Search_BKWS-28432345789&gclid=CjwKCAjwn6GGBhADEiwAruUcKl96Jy2MMfWqz2cxxUeJqKN665MwuJbwtVAxmNQl1msnMrtHB9UwpBoC2i0QAvD_BwE&gclsrc=aw.ds"
                target="blank"><img src="https://img.icons8.com/doodle/48/000000/google-play.png" /></a>

              <a href="https://apps.apple.com/br/app/apple-store/id375380948" target="blank"><img
                  src="https://img.icons8.com/fluency/48/000000/apple-app-store.png" /></a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</main>
